.skills {
  display: flex;
}

.left {
  flex-basis: 200px;
}

.formContainer .form-btn {
  height: 35px;
  border-radius: 5px;
  border: 1px dotted #009688;
  cursor: pointer;
  transition: all 0.2s;
  color: #757575;
}

.formContainer .form-btn:hover {
  background-color: #009688;
  color: #fff;
  cursor: pointer;
}
