/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .parallax{
  background: #000;
  overflow: hidden;
  
 }
 canvas {
	display: block;	
}

.profileDiv{
  display: flex;
  justify-content: center;
}
.profile{
  /* height: 200px;
  width: 200px; */
  transform: scale(0.8);
  /* justify-content: center; */


}
.summaryText{
  display: flex;
}
.quote{
  transform: scaleX(-1);
}

.summary{
  position: relative;
  top: 27%;
  margin-bottom: 0%;
}



.logos img {
  height:auto;
  max-width: 100%;
  padding: 10px;
}

.rubyOnRails-container{
  width: 13.5% !important;
}

.jquery-container{
  width: 14.7% !important;
}


/* .git-container{
  position: relative;
  bottom: -20px;
  left: -66% !important;
  width: 15% !important;
} */

.sql-container img{
  width: 95%;
}

.css-container img{
  width: 88% !important;
}
.projectMenu li a{
  font-size: large;
}


.projectImages {
  max-height: 263px;
  object-fit: cover;
  display: inline-block;
}
.projectImages.materialized.active {
  max-height: none;
  object-fit: none;
}


#allProjects{
  background: rebeccapurple;
  max-width: 100%;
  padding: 13px;
  margin: 0 auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}