/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.parallax {
  background: #000;
  overflow: hidden;
}
canvas {
  display: block;
}

.profileDiv {
  display: flex;
  justify-content: center;
}

.summaryText {
  display: flex;
}
.quote {
  transform: scaleX(-1);
}

.summary {
  position: relative;
  top: 27%;
  margin-bottom: 0%;
}

.logos img {
  height: auto;
  max-width: 100%;
  padding: 10px;
}

.rubyOnRails-container {
  width: 13.5% !important;
}

.jquery-container {
  width: 14.7% !important;
}

.sql-container img {
  width: 95%;
}

.css-container img {
  width: 88% !important;
}

.materialize-container {
  width: 28% !important;
}
.projectMenu li a {
  font-size: large;
}

.projectTracking {
  display: flex;
  align-items: center;
}
.projectImages {
  max-height: 263px;
  object-fit: cover;
  display: inline-block;
}
.projectImages.materialized.active {
  max-height: none;
  object-fit: none;
}

.projectImages {
  border: 0.5px solid black;
  border-radius: 1%;
}

.projectDivs:hover {
  box-shadow: 0 8px 17px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(236, 236, 236, 0.19);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* border:solid beige; */
}

.projectDivs:hover .projectImages {
  /* opacity: 0; */
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* .projectDivs:hover .projectText {
  transform: translate(0%, -106%);
} */
.projectText {
  display: none;
  border: 1px solid beige;
}
.projectText p {
  line-height: 1.8rem;
}

.projectDivs:hover .projectText {
  display: block;
  min-height: 263px;
  /* background: red; */
}

/* Projects shown with selection */
.node,
.react,
.ruby,
.javascript {
  display: none;
}

.all {
  display: block;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

#git,
#linkedin,
#phone,
#email {
  display: flex;
  align-items: center;
}

#phone,
#email {
  cursor: text;
}

.contactLinks {
  width: 86%;
}

.formContainer .form-btn {
  height: 35px;
  border-radius: 5px;
  border: 1px dotted #009688;
  cursor: pointer;
  transition: all 0.2s;
  color: #757575;
}

.formContainer .form-btn:hover {
  background-color: #009688;
  color: #fff;
  cursor: pointer;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
